/*GENERAL///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/
*{
  outline:none;
  font-family: georgia;
}

h1, h2, h3, h4, h5, h6 {
    font-family: georgia;
}

/*you want multiple wrappers around each section, not the whole thing*/
.wrap{
  width: 90%;
  margin: 0px auto;
  max-width: 1100px;
}

.off-canvas-wrapper{
  background-color: #222;
}

.section-title{
  text-align: center;
}

.section-title h1{
  text-align: center;
}

.main{
  padding: 80px 0px;
  color: black;
  background-attachment: fixed;
}

.dark-title{
  color: black;
}

/*NAV MOBILE///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/
.title-bar{
  height: 60px;
  padding: 17px;
}

#mobile-menu{
  background-color: #222;
  padding: 10px;
}
/*dont need to have ul*/
#mobile-menu li{
  list-style: none;
}

#mobile-menu a{
  color:rgba(255,255,255,.5);
  font-weight: bold;
  line-height: 2;
}

#mobile-menu a:hover{
  color:rgba(255,255,255,.3);
  font-weight: bold;
  line-height: 2;
}

.js-off-canvas-exit{
  /*0 0 0 makes things darker*/
  background-color:rgba(0,0,0,.5);
}

/*NAV DESKTOP///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/
.nav-desktop{
  height: 80px;
  /*once line height adjusted, check if padding is preventing cetnering*/
  padding: 0px;
  position: fixed;
  width: 100%;
  background-color:rgba(235,235,235,1);
}

.nav-desktop .menu-desktop{
  line-height: 80px;
  background-color: transparent;
}

.nav-desktop a{
  line-height: 80px;
}

.menu>li>a{
  display: inline-block;
  /*so that link applies to whole nav height*/
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item{
  color: black;
}

.menu>li>a:hover{
  /*allows your background to respond to its parent*/
  background-color:rgba(255,255,255,.1)
}

.site-logo{
  /*make the height of inline as high as bar to center*/
  line-height: 80px;
  font-size: 20px;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    z-index: 2;
}

.scrolled {
    background: rgba(0, 0, 0, .2); //NON-IE
}

.center{
  text-align: center;
}

.sub-title{
  text-align: right;
  margin-left: 75px;
}

.nav-item-scroll{
  color: rgba(255,255,255,.5);
}
/*HERO///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/
.hero{
  background-color: #999;
  padding: 80px 0px;
  min-height: 700px;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0px;
  z-index: -1;
}

.hero h1,
      p,
      h2{
        /*nice touch for text color*/
  color:rgba(255,255,255,.7);
  max-width: 70%;
}

.slide-one{
  background-image: url("https://img.businessoffashion.com/1024/573/magic/site/uploads/2015/04/shutterstock_212559235.jpg");
}

.slide-two{
  background-image: url("../img/show3.jpg");
}

.slide-three{
  background-image: url("http://theplanetd.com/images/Shanghai-Skyline-HDR-1-XL.jpg");
}


.slide-four{
  background-image: url("../img/dc.jpg");
}


.orbit ul{
  margin:0;
}


.orbit li{
  list-style: none;
  padding:0;
}


/*ABOUT ME///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/

.about-me{
  background-image: url("../img/ignasi_pattern_s.png");
}

.section-header{
  display: block;
  margin: -20px 0px 0px 0px;
}

.intro p{
  margin: 45px 0px 0px 0px;
}

.main h2{
  text-align: center;
}

.main p{
  color: black;

}

.main ul{
  text-align: left;
}

.main li{
  list-style: none;
}

.prof-pic{
  display: inline-block;
  border-radius: 50%;
  width:175px;
  height: 225px;
}

.bio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*PORTFOLIO///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/

.portfolio{
  background-image: url("../img/weather.png");
}

.portfolio-pic{
  width: 330px;
  height: 250px;;
}

/*image link effect*/
.image-wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  overflow: hidden;
  position: relative;
  text-align: center;
  border-radius: 4px; }

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.overlay-fade-in p {
  letter-spacing: 0.15em;
  color: #f4f4f4;
  font-size: 28px;
  opacity: 0;
  transition: all 0.2s linear; }
.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out; }
.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 40%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }
.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }
.overlay-fade-in:hover img {
  transform: scale(1.2); }
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1; }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1; }
.overlay-fade-in:hover p {
  transition-delay: 0.1s; }
.overlay-fade-in:hover .button {
  transition-delay: 0.2s; }

/*FOOTER///////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////*/
footer{
  background: url("../img/tweed.png");
  background-color: #222;
  padding: 80px 0px;
  text-align: center;
}

footer h4{
  color:rgba(255,255,255,.8);
  font-size: 1.3em;
}

/*note how to change color of an hr, it is just a border bottom*/
/*if you try to style whole border it will increase size of border*/
footer hr{
  border-color: rgba(255,255,255,.1);
  margin: 10px 0px;
  font-size:.8em;
}

footer a{
  display: block;
  color: red;
  margin: 10px 0px;
}

footer a span:hover{
  color:rgba(255,255,255,.8);
}

footer a span{
  color:rgba(255,255,255,.3);
}

/*MEDIA QUERY*/
@media (max-width: 639px) {
  /*things warp at 640 so make disappear at 639*/
.nav-desktop{
      display:none;
}

}

@media (max-width: 875px) {
  /*things warp at 640 so make disappear at 639*/
  .hero h1,
        p{
          /*nice touch for text color*/
    max-width: 100%;
  }

}
